@model IEnumerable<CadastrarMedico.Models.Medicos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtendeSUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoiVisitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemKit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooperador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtendeSUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoiVisitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemKit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacoes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
